body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #fff;
  margin: 0;
  background: #0d0e0f;

  --color-orange: #ffa500;
  --board-spacing: 30px;
  --board-border-radius: 10px;
}

button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  padding: 0;
  border: none;
  background: none;
}
button:hover {
  filter: brightness(80%);
}
button:active {
  filter: brightness(50%);
}
